In [1]:
import pandas as pd
import requests
import os
import json

In [2]:
URL = "https://opendata.comune.bologna.it/api/explore/v2.1/catalog/datasets/disponibilita-parcheggi-storico/exports/csv?lang=it&timezone=UTC&use_labels=true&delimiter=%3B"
df = pd.read_csv(URL, sep=";")
df[['lat', 'lon']] = df['coordinate'].str.split(', ',expand=True)
df = df.drop(columns=['% occupazione', 'GUID', 'coordinate']).rename(columns={'Parcheggio': 'parcheggio', 'Data': 'data', 'Posti liberi': 'posti_liberi', 'Posti occupati': 'posti_occupati', 'Posti totali': 'posti_totali'})
df

,parcheggio,data,posti_liberi,posti_occupati,posti_totali,lat,lon
0,VIII Agosto,2024-06-07T01:59:00+00:00,484.0,141.0,625,44.500297,11.345368
1,Riva Reno,2024-06-07T02:09:00+00:00,369.0,101.0,470,44.501153,11.336062
2,Riva Reno,2024-06-07T02:19:00+00:00,369.0,101.0,470,44.501153,11.336062
3,VIII Agosto,2024-06-07T02:29:00+00:00,487.0,138.0,625,44.500297,11.345368
4,Riva Reno,2024-06-07T02:29:00+00:00,369.0,101.0,470,44.501153,11.336062
...,...,...,...,...,...,...,...
43197,Riva Reno,2024-09-23T13:49:00+00:00,272.0,198.0,470,44.501153,11.336062
43198,Autostazione,2024-09-23T13:49:00+00:00,112.0,153.0,265,44.504422,11.346514
43199,Autostazione,2024-09-23T14:29:00+00:00,124.0,141.0,265,44.504422,11.346514
43200,VIII Agosto,2024-09-23T14:39:00+00:00,134.0,491.0,625,44.500297,11.345368
43201,Autostazione,2024-09-23T14:39:00+00:00,127.0,138.0,265,44.504422,11.346514

In [3]:
KEYS = ['parcheggio', 'lat', 'lon']
df_parcheggi = df.groupby(['parcheggio']).first().reset_index()[KEYS]
df_parcheggi

     parcheggio        lat        lon
0  Autostazione  44.504422  11.346514
1     Riva Reno  44.501153  11.336062
2   VIII Agosto  44.500297  11.345368

In [4]:
rdf = df.copy()
rdf['data'] = pd.to_datetime(rdf['data'])
rdf['day'] = rdf['data'].apply(lambda t: t.replace(second=0, minute=0))
rdf['lat'] = rdf['lat'].apply(lambda t: float(t))
rdf['lon'] = rdf['lon'].apply(lambda t: float(t))
rdf = rdf.drop(columns=['data'])
grouped =rdf.groupby(['parcheggio','day']).mean()
df_aggregated = grouped.reset_index()
df_aggregated

,parcheggio,day,posti_liberi,posti_occupati,posti_totali,lat,lon
0,Autostazione,2024-06-07 01:00:00+00:00,244.000000,21.000000,265.0,44.504422,11.346514
1,Autostazione,2024-06-07 02:00:00+00:00,244.000000,21.000000,265.0,44.504422,11.346514
2,Autostazione,2024-06-07 03:00:00+00:00,244.000000,21.000000,265.0,44.504422,11.346514
3,Autostazione,2024-06-07 04:00:00+00:00,244.333333,20.666667,265.0,44.504422,11.346514
4,Autostazione,2024-06-07 05:00:00+00:00,242.666667,22.333333,265.0,44.504422,11.346514
...,...,...,...,...,...,...,...
7295,VIII Agosto,2024-09-23 10:00:00+00:00,243.666667,381.333333,625.0,44.500297,11.345368
7296,VIII Agosto,2024-09-23 11:00:00+00:00,144.333333,480.666667,625.0,44.500297,11.345368
7297,VIII Agosto,2024-09-23 12:00:00+00:00,132.000000,493.000000,625.0,44.500297,11.345368
7298,VIII Agosto,2024-09-23 13:00:00+00:00,142.500000,482.500000,625.0,44.500297,11.345368
7299,VIII Agosto,2024-09-23 14:00:00+00:00,134.750000,490.250000,625.0,44.500297,11.345368

In [3]:
import digitalhub as dh
import getpass as gt

PROJECT_NAME = "parcheggi-nk-scheduler"+gt.getuser()
proj = dh.get_or_create_project(PROJECT_NAME)
print("created project {}".format(PROJECT_NAME))
PROJECT_NAME

created project parcheggi-nk-schedulerdigitalhubdev

'parcheggi-nk-schedulerdigitalhubdev'

In [9]:
df

,parcheggio,data,posti_liberi,posti_occupati,posti_totali,lat,lon
0,VIII Agosto,2024-06-07T01:59:00+00:00,484.0,141.0,625,44.500297,11.345368
1,Riva Reno,2024-06-07T02:09:00+00:00,369.0,101.0,470,44.501153,11.336062
2,Riva Reno,2024-06-07T02:19:00+00:00,369.0,101.0,470,44.501153,11.336062
3,VIII Agosto,2024-06-07T02:29:00+00:00,487.0,138.0,625,44.500297,11.345368
4,Riva Reno,2024-06-07T02:29:00+00:00,369.0,101.0,470,44.501153,11.336062
...,...,...,...,...,...,...,...
43197,Riva Reno,2024-09-23T13:49:00+00:00,272.0,198.0,470,44.501153,11.336062
43198,Autostazione,2024-09-23T13:49:00+00:00,112.0,153.0,265,44.504422,11.346514
43199,Autostazione,2024-09-23T14:29:00+00:00,124.0,141.0,265,44.504422,11.346514
43200,VIII Agosto,2024-09-23T14:39:00+00:00,134.0,491.0,625,44.500297,11.345368
43201,Autostazione,2024-09-23T14:39:00+00:00,127.0,138.0,265,44.504422,11.346514

In [12]:
source_data_key = proj.log_dataitem(name="source_data", kind="table", data=df)

In [13]:
source_data_key

{'kind': 'table', 'metadata': {'project': 'parcheggi-nk-schedulerdigitalhubdev', 'name': 'source_data', 'version': '2d31f749-4ea1-4789-b1c3-09f72c2471b0', 'created': '2024-09-23T12:59:32.013Z', 'updated': '2024-09-23T12:59:32.013Z', 'created_by': 'tenant1userid', 'updated_by': 'tenant1userid', 'embedded': True}, 'spec': {'path': 's3://datalake/parcheggi-nk-schedulerdigitalhubdev/dataitem/source_data/2d31f749-4ea1-4789-b1c3-09f72c2471b0/data.parquet', 'schema': {'fields': [{'name': 'parcheggio', 'type': 'string'}, {'name': 'data', 'type': 'string'}, {'name': 'posti_liberi', 'type': 'number'}, {'name': 'posti_occupati', 'type': 'number'}, {'name': 'posti_totali', 'type': 'integer'}, {'name': 'lat', 'type': 'string'}, {'name': 'lon', 'type': 'string'}]}}, 'status': {'state': 'CREATED', 'files': [{'path': 'data.parquet', 'name': 'data.parquet', 'content_type': 'binary/octet-stream', 'size': 304218, 'hash': 'md5:63d5f0f35f56a0f44c84d416f9302432', 'last_modified': '2024-09-23T12:59:31+00:00'}], 'preview': {'cols': [{'name': 'parcheggio', 'value': ['VIII Agosto', 'Riva Reno', 'Riva Reno', 'VIII Agosto', 'Riva Reno', 'Autostazione', 'Autostazione', 'VIII Agosto', 'Autostazione', 'Riva Reno']}, {'name': 'data', 'value': ['2024-06-07T01:59:00+00:00', '2024-06-07T02:09:00+00:00', '2024-06-07T02:19:00+00:00', '2024-06-07T02:29:00+00:00', '2024-06-07T02:29:00+00:00', '2024-06-07T02:29:00+00:00', '2024-06-07T02:32:00+00:00', '2024-06-07T02:59:00+00:00', '2024-06-07T02:59:00+00:00', '2024-06-07T03:09:00+00:00']}, {'name': 'posti_liberi', 'value': [484.0, 369.0, 369.0, 487.0, 369.0, 244.0, 244.0, 489.0, 244.0, 369.0]}, {'name': 'posti_occupati', 'value': [141.0, 101.0, 101.0, 138.0, 101.0, 21.0, 21.0, 136.0, 21.0, 101.0]}, {'name': 'posti_totali', 'value': [625, 470, 470, 625, 470, 265, 265, 625, 265, 470]}, {'name': 'lat', 'value': ['44.500297', '44.501153', '44.501153', '44.500297', '44.501153', '44.504422', '44.504422', '44.500297', '44.504422', '44.501153']}, {'name': 'lon', 'value': ['11.345368', '11.336062', '11.336062', '11.345368', '11.336062', '11.346514', '11.346514', '11.345368', '11.346514', '11.336062']}], 'rows': 43202}}, 'user': 'tenant1userid', 'project': 'parcheggi-nk-schedulerdigitalhubdev', 'name': 'source_data', 'id': '2d31f749-4ea1-4789-b1c3-09f72c2471b0', 'key': 'store://parcheggi-nk-schedulerdigitalhubdev/dataitem/table/source_data:2d31f749-4ea1-4789-b1c3-09f72c2471b0'}

In [14]:
source_data = proj.get_dataitem("source_data")

In [15]:
source_data.to_dict()

{'kind': 'table',
 'metadata': {'project': 'parcheggi-nk-schedulerdigitalhubdev',
  'name': 'source_data',
  'version': '2d31f749-4ea1-4789-b1c3-09f72c2471b0',
  'created': '2024-09-23T12:59:32.013Z',
  'updated': '2024-09-23T12:59:32.013Z',
  'created_by': 'tenant1userid',
  'updated_by': 'tenant1userid',
  'embedded': True},
 'spec': {'path': 's3://datalake/parcheggi-nk-schedulerdigitalhubdev/dataitem/source_data/2d31f749-4ea1-4789-b1c3-09f72c2471b0/data.parquet',
  'schema': {'fields': [{'name': 'parcheggio', 'type': 'string'},
    {'name': 'data', 'type': 'string'},
    {'name': 'posti_liberi', 'type': 'number'},
    {'name': 'posti_occupati', 'type': 'number'},
    {'name': 'posti_totali', 'type': 'integer'},
    {'name': 'lat', 'type': 'string'},
    {'name': 'lon', 'type': 'string'}]}},
 'status': {'state': 'CREATED',
  'files': [{'path': 'data.parquet',
    'name': 'data.parquet',
    'content_type': 'binary/octet-stream',
    'size': 304218,
    'hash': 'md5:63d5f0f35f56a0f44c84d416f9302432',
    'last_modified': '2024-09-23T12:59:31+00:00'}],
  'preview': {'cols': [{'name': 'parcheggio',
     'value': ['VIII Agosto',
      'Riva Reno',
      'Riva Reno',
      'VIII Agosto',
      'Riva Reno',
      'Autostazione',
      'Autostazione',
      'VIII Agosto',
      'Autostazione',
      'Riva Reno']},
    {'name': 'data',
     'value': ['2024-06-07T01:59:00+00:00',
      '2024-06-07T02:09:00+00:00',
      '2024-06-07T02:19:00+00:00',
      '2024-06-07T02:29:00+00:00',
      '2024-06-07T02:29:00+00:00',
      '2024-06-07T02:29:00+00:00',
      '2024-06-07T02:32:00+00:00',
      '2024-06-07T02:59:00+00:00',
      '2024-06-07T02:59:00+00:00',
      '2024-06-07T03:09:00+00:00']},
    {'name': 'posti_liberi',
     'value': [484.0,
      369.0,
      369.0,
      487.0,
      369.0,
      244.0,
      244.0,
      489.0,
      244.0,
      369.0]},
    {'name': 'posti_occupati',
     'value': [141.0,
      101.0,
      101.0,
      138.0,
      101.0,
      21.0,
      21.0,
      136.0,
      21.0,
      101.0]},
    {'name': 'posti_totali',
     'value': [625, 470, 470, 625, 470, 265, 265, 625, 265, 470]},
    {'name': 'lat',
     'value': ['44.500297',
      '44.501153',
      '44.501153',
      '44.500297',
      '44.501153',
      '44.504422',
      '44.504422',
      '44.500297',
      '44.504422',
      '44.501153']},
    {'name': 'lon',
     'value': ['11.345368',
      '11.336062',
      '11.336062',
      '11.345368',
      '11.336062',
      '11.346514',
      '11.346514',
      '11.345368',
      '11.346514',
      '11.336062']}],
   'rows': 43202}},
 'user': 'tenant1userid',
 'project': 'parcheggi-nk-schedulerdigitalhubdev',
 'name': 'source_data',
 'id': '2d31f749-4ea1-4789-b1c3-09f72c2471b0',
 'key': 'store://parcheggi-nk-schedulerdigitalhubdev/dataitem/table/source_data:2d31f749-4ea1-4789-b1c3-09f72c2471b0'}

In [16]:
source_data_df = source_data.as_df()

In [17]:
source_data_df.head()

,parcheggio,data,posti_liberi,posti_occupati,posti_totali,lat,lon
0,VIII Agosto,2024-06-07T01:59:00+00:00,484.0,141.0,625,44.500297,11.345368
1,Riva Reno,2024-06-07T02:09:00+00:00,369.0,101.0,470,44.501153,11.336062
2,Riva Reno,2024-06-07T02:19:00+00:00,369.0,101.0,470,44.501153,11.336062
3,VIII Agosto,2024-06-07T02:29:00+00:00,487.0,138.0,625,44.500297,11.345368
4,Riva Reno,2024-06-07T02:29:00+00:00,369.0,101.0,470,44.501153,11.336062

In [18]:
%%writefile "src/download_all.py"
from digitalhub_runtime_python import handler
import pandas as pd

@handler(outputs=["dataset"])
def downloader(project, url):
    df = url.as_df(file_format='csv',sep=";")
    df[['lat', 'lon']] = df['coordinate'].str.split(', ',expand=True)
    df = df.drop(columns=['% occupazione', 'GUID', 'coordinate']).rename(columns={'Parcheggio': 'parcheggio', 'Data': 'data', 'Posti liberi': 'posti_liberi', 'Posti occupati': 'posti_occupati', 'Posti totali': 'posti_totali'})
    df["lat"] = pd.to_numeric(df["lat"])
    df["lon"] = pd.to_numeric(df["lon"])
    return df

Writing src/download_all.py

In [19]:
func = proj.new_function(name="downloader-funct",
                         kind="python",
                         python_version="PYTHON3_9",
                         source={"source": "src/download_all.py", "handler": "downloader"})

In [20]:
di = proj.new_dataitem(name="url_data_item",kind="table",path=URL)

In [21]:
run_download_local = func.run(action="job",inputs={"url":di.key},outputs={"dataset":"dataset"}, local_execution=True)

2024-09-23 13:04:25,007 - INFO - Validating task.
2024-09-23 13:04:25,008 - INFO - Validating run.
2024-09-23 13:04:25,008 - INFO - Starting task.
2024-09-23 13:04:25,009 - INFO - Configuring execution.
2024-09-23 13:04:25,010 - INFO - Composing function arguments.
2024-09-23 13:04:25,073 - INFO - Executing run.
2024-09-23 13:04:41,027 - INFO - Task completed, returning run status.

In [22]:
run_download_local.status.outputs

{'dataset': 'store://parcheggi-nk-schedulerdigitalhubdev/dataitem/table/dataset:094286a6-7de3-475a-a414-96f0b58b4be0'}

In [23]:
run_download = func.run(action="job",inputs={"url":di.key},outputs={"dataset":"dataset"})

In [26]:
run_download.refresh().status.state

'COMPLETED'

In [27]:
%%writefile "src/extract_parkings.py"
from digitalhub_runtime_python import handler
import pandas as pd

@handler(outputs=["parkings"])
def extract_parkings(project, di):
    KEYS = ['parcheggio', 'lat', 'lon', 'posti_totali']
    df_parcheggi = di.as_df().groupby(['parcheggio']).first().reset_index()[KEYS]
    return df_parcheggi

Writing src/extract_parkings.py

In [28]:
func = proj.new_function(name="extract-parkings",
                         kind="python",
                         python_version="PYTHON3_9",
                         source={"source": "src/extract_parkings.py", "handler": "extract_parkings"})

In [29]:
data_item_download = proj.get_dataitem("dataset").key
run_parkings = func.run(action="job",inputs={"di":data_item_download},outputs={"parkings":"parkings"})

In [30]:
run_parkings.refresh().status.state

'RUNNING'

In [31]:
%%writefile "src/aggregations_parkings.py"
from datetime import datetime
from digitalhub_runtime_python import handler
import pandas as pd

@handler(outputs=["parking_data_aggregated"])
def aggregate_parkings(project, di):
    rdf = di.as_df()
    rdf['data'] = pd.to_datetime(rdf['data'])
    rdf['day'] = rdf['data'].apply(lambda t: t.replace(second=0, minute=0))
    rdf['hour'] = rdf['day'].dt.hour
    rdf['dow'] = rdf['day'].dt.dayofweek
    #rdf['type'] = rdf['data']#.apply(lambda t: "sadassad"+t.astype(str))
    rdf['day'] = rdf['day'].apply(lambda t: datetime.timestamp(t)) #added because complain of timestamp not JSOn serializable#
    rdf = rdf.drop(columns=['data'])
    rdf['lat'] = rdf['lat'].apply(lambda t: float(t))
    rdf['lon'] = rdf['lon'].apply(lambda t: float(t))
    grouped = rdf.groupby(['parcheggio','day']).mean() #
    df_aggregated = grouped.reset_index()
    return df_aggregated

Writing src/aggregations_parkings.py

In [32]:
func = proj.new_function(name="aggregate-parkings",
                         kind="python",
                         python_version="PYTHON3_9",
                         source={"source": "src/aggregations_parkings.py", "handler": "aggregate_parkings"})

In [33]:
run_aggregate = func.run(action="job",inputs={"di":data_item_download},outputs={"parking_data_aggregated":"parking_data_aggregated"})

In [35]:
run_aggregate.refresh().status.state

'COMPLETED'

In [1]:
%%writefile "src/parkings_to_db.py"
from digitalhub_runtime_python import handler
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import datetime as dtt
import os

@handler()
def to_db(project, agg_di , parkings_di ):
    USERNAME = os.getenv("POSTGRES_USER")
    PASSWORD = os.getenv("POSTGRES_PASSWORD")
    engine = create_engine('postgresql+psycopg2://'+USERNAME+':'+PASSWORD+'@database-postgres-cluster/digitalhub')
    
    agg_df = agg_di.as_df(file_format="parquet")
        
    # Keep only last two calendar years
    date = dtt.date.today() - dtt.timedelta(days=365*2)
    agg_df['day'] = agg_df['day'].apply(lambda t: datetime.fromtimestamp(t)) #added because before was converted the type
    agg_df = agg_df[agg_df['day'].dt.date >= date]
    agg_df.to_sql("parking_data_aggregated", engine, if_exists="replace")
    parkings_di.as_df().to_sql('parkings', engine, if_exists="replace")
    return

Writing src/parkings_to_db.py

In [4]:
func = proj.new_function(name="to-db",
                         kind="python",
                         requirements=["sqlalchemy"],
                         python_version="PYTHON3_9",
                         source={"source": "src/parkings_to_db.py", "handler": "to_db"})

In [5]:
data_item_parkings = proj.get_dataitem("parkings").key
data_item_aggregate = proj.get_dataitem("parking_data_aggregated").key

run_to_db = func.run(action="job",inputs={"agg_di":data_item_aggregate,"parkings_di":data_item_parkings},outputs={})

In [41]:
run_to_db.refresh().status.state

'COMPLETED'

In [6]:
%%writefile "src/parkings_pipeline.py"

from digitalhub_runtime_kfp.dsl import pipeline_context

def myhandler(url):
    with pipeline_context() as pc:
        s1_dataset = pc.step(name="download", function="downloader-funct", action="job",inputs={"url":url},outputs={"dataset":"dataset"})
        
        s2_parking = pc.step(name="extract_parking", function="extract-parkings", action="job",inputs={"di":s1_dataset.outputs['dataset']},outputs={"parkings":"parkings"})
        
        s3_aggregate = pc.step(name="aggregate",  function="aggregate-parkings", action="job",inputs={"di":s1_dataset.outputs['dataset']},outputs={"parking_data_aggregated":"parking_data_aggregated"})
        
        s4_to_db = pc.step(name="to_db",  function="to-db", action="job",inputs={"agg_di": s3_aggregate.outputs['parking_data_aggregated'],"parkings_di":s1_dataset.outputs['dataset']},outputs={})

Writing src/parkings_pipeline.py

In [7]:
workflow = proj.new_workflow(name="pipeline_parcheggi", kind="kfp", source={"source": "src/parkings_pipeline.py", "handler": "myhandler"})

In [8]:
URL = "https://opendata.comune.bologna.it/api/explore/v2.1/catalog/datasets/disponibilita-parcheggi-storico/exports/csv?lang=it&timezone=UTC&use_labels=true&delimiter=%3B"

In [6]:
di= proj.new_dataitem(name="url_data_item",kind="table",path=URL)
c = workflow.run(parameters={"url": di.key})

In [7]:
workflow

{'kind': 'kfp', 'metadata': {'project': 'parcheggi-nk-schedulerdigitalhubdev', 'name': 'pipeline_parcheggi', 'version': '97bc9322-25b6-4cf4-934a-00e34f4cc5fe', 'created': '2024-09-23T13:40:11.913Z', 'updated': '2024-09-23T13:40:11.913Z', 'created_by': 'tenant1userid', 'updated_by': 'tenant1userid', 'embedded': True}, 'spec': {'source': {'source': 'src/parkings_pipeline.py', 'base64': 'CmZyb20gZGlnaXRhbGh1Yl9ydW50aW1lX2tmcC5kc2wgaW1wb3J0IHBpcGVsaW5lX2NvbnRleHQKCmRlZiBteWhhbmRsZXIodXJsKToKICAgIHdpdGggcGlwZWxpbmVfY29udGV4dCgpIGFzIHBjOgogICAgICAgIHMxX2RhdGFzZXQgPSBwYy5zdGVwKG5hbWU9ImRvd25sb2FkIiwgZnVuY3Rpb249ImRvd25sb2FkZXItZnVuY3QiLCBhY3Rpb249ImpvYiIsaW5wdXRzPXsidXJsIjp1cmx9LG91dHB1dHM9eyJkYXRhc2V0IjoiZGF0YXNldCJ9KQogICAgICAgIAogICAgICAgIHMyX3BhcmtpbmcgPSBwYy5zdGVwKG5hbWU9ImV4dHJhY3RfcGFya2luZyIsIGZ1bmN0aW9uPSJleHRyYWN0LXBhcmtpbmdzIiwgYWN0aW9uPSJqb2IiLGlucHV0cz17ImRpIjpzMV9kYXRhc2V0Lm91dHB1dHNbJ2RhdGFzZXQnXX0sb3V0cHV0cz17InBhcmtpbmdzIjoicGFya2luZ3MifSkKICAgICAgICAKICAgICAgICBzM19hZ2dyZWdhdGUgPSBwYy5zdGVwKG5hbWU9ImFnZ3JlZ2F0ZSIsICBmdW5jdGlvbj0iYWdncmVnYXRlLXBhcmtpbmdzIiwgYWN0aW9uPSJqb2IiLGlucHV0cz17ImRpIjpzMV9kYXRhc2V0Lm91dHB1dHNbJ2RhdGFzZXQnXX0sb3V0cHV0cz17InBhcmtpbmdfZGF0YV9hZ2dyZWdhdGVkIjoicGFya2luZ19kYXRhX2FnZ3JlZ2F0ZWQifSkKICAgICAgICAKICAgICAgICBzNF90b19kYiA9IHBjLnN0ZXAobmFtZT0idG9fZGIiLCAgZnVuY3Rpb249InRvLWRiIiwgYWN0aW9uPSJqb2IiLGlucHV0cz17ImFnZ19kaSI6IHMzX2FnZ3JlZ2F0ZS5vdXRwdXRzWydwYXJraW5nX2RhdGFfYWdncmVnYXRlZCddLCJwYXJraW5nc19kaSI6czFfZGF0YXNldC5vdXRwdXRzWydkYXRhc2V0J119LG91dHB1dHM9e30pCg==', 'handler': 'myhandler', 'lang': 'python'}}, 'status': {'state': 'CREATED'}, 'user': 'tenant1userid', 'project': 'parcheggi-nk-schedulerdigitalhubdev', 'name': 'pipeline_parcheggi', 'id': '97bc9322-25b6-4cf4-934a-00e34f4cc5fe', 'key': 'store://parcheggi-nk-schedulerdigitalhubdev/workflow/kfp/pipeline_parcheggi:97bc9322-25b6-4cf4-934a-00e34f4cc5fe'}

In [16]:
workflow.run(parameters={"url": di.key}, schedule="@hourly")
#workflow.run(parameters={"url": di.key}, schedule="*/5 * * * *")

{'kind': 'kfp+run', 'metadata': {'project': 'parcheggi-nk-schedulerdigitalhubdev', 'name': 'f34ac921-dcee-4b17-b545-2e1a99adcee5', 'created': '2024-09-23T13:59:07.458Z', 'updated': '2024-09-23T13:59:07.479Z', 'created_by': 'tenant1userid', 'updated_by': 'tenant1userid'}, 'spec': {'task': 'kfp+pipeline://parcheggi-nk-schedulerdigitalhubdev/pipeline_parcheggi:97bc9322-25b6-4cf4-934a-00e34f4cc5fe', 'local_execution': False, 'source': {'source': 'src/parkings_pipeline.py', 'handler': 'myhandler', 'base64': 'CmZyb20gZGlnaXRhbGh1Yl9ydW50aW1lX2tmcC5kc2wgaW1wb3J0IHBpcGVsaW5lX2NvbnRleHQKCmRlZiBteWhhbmRsZXIodXJsKToKICAgIHdpdGggcGlwZWxpbmVfY29udGV4dCgpIGFzIHBjOgogICAgICAgIHMxX2RhdGFzZXQgPSBwYy5zdGVwKG5hbWU9ImRvd25sb2FkIiwgZnVuY3Rpb249ImRvd25sb2FkZXItZnVuY3QiLCBhY3Rpb249ImpvYiIsaW5wdXRzPXsidXJsIjp1cmx9LG91dHB1dHM9eyJkYXRhc2V0IjoiZGF0YXNldCJ9KQogICAgICAgIAogICAgICAgIHMyX3BhcmtpbmcgPSBwYy5zdGVwKG5hbWU9ImV4dHJhY3RfcGFya2luZyIsIGZ1bmN0aW9uPSJleHRyYWN0LXBhcmtpbmdzIiwgYWN0aW9uPSJqb2IiLGlucHV0cz17ImRpIjpzMV9kYXRhc2V0Lm91dHB1dHNbJ2RhdGFzZXQnXX0sb3V0cHV0cz17InBhcmtpbmdzIjoicGFya2luZ3MifSkKICAgICAgICAKICAgICAgICBzM19hZ2dyZWdhdGUgPSBwYy5zdGVwKG5hbWU9ImFnZ3JlZ2F0ZSIsICBmdW5jdGlvbj0iYWdncmVnYXRlLXBhcmtpbmdzIiwgYWN0aW9uPSJqb2IiLGlucHV0cz17ImRpIjpzMV9kYXRhc2V0Lm91dHB1dHNbJ2RhdGFzZXQnXX0sb3V0cHV0cz17InBhcmtpbmdfZGF0YV9hZ2dyZWdhdGVkIjoicGFya2luZ19kYXRhX2FnZ3JlZ2F0ZWQifSkKICAgICAgICAKICAgICAgICBzNF90b19kYiA9IHBjLnN0ZXAobmFtZT0idG9fZGIiLCAgZnVuY3Rpb249InRvLWRiIiwgYWN0aW9uPSJqb2IiLGlucHV0cz17ImFnZ19kaSI6IHMzX2FnZ3JlZ2F0ZS5vdXRwdXRzWydwYXJraW5nX2RhdGFfYWdncmVnYXRlZCddLCJwYXJraW5nc19kaSI6czFfZGF0YXNldC5vdXRwdXRzWydkYXRhc2V0J119LG91dHB1dHM9e30pCg==', 'lang': 'python'}, 'function': 'kfp://parcheggi-nk-schedulerdigitalhubdev/pipeline_parcheggi:97bc9322-25b6-4cf4-934a-00e34f4cc5fe', 'schedule': '@hourly', 'inputs': {}, 'outputs': {}, 'parameters': {'url': 'store://parcheggi-nk-schedulerdigitalhubdev/dataitem/table/url_data_item:a9ebe224-17fa-426c-88a3-19f41b98873f'}}, 'status': {'state': 'READY', 'transitions': [{'status': 'READY', 'time': '2024-09-23T13:59:07.478722704Z'}, {'status': 'BUILT', 'time': '2024-09-23T13:59:07.464400941Z'}]}, 'user': 'tenant1userid', 'project': 'parcheggi-nk-schedulerdigitalhubdev', 'id': 'f34ac921-dcee-4b17-b545-2e1a99adcee5', 'key': 'store://parcheggi-nk-schedulerdigitalhubdev/run/kfp+run/f34ac921-dcee-4b17-b545-2e1a99adcee5'}

In [9]:
import sqlalchemy
from sqlalchemy import create_engine
import os
import pandas as pd
 
USERNAME = os.getenv("POSTGRES_USER")
PASSWORD = os.getenv("POSTGRES_PASSWORD")
engine = create_engine('postgresql+psycopg2://'+USERNAME+':'+PASSWORD+'@database-postgres-cluster/digitalhub')
 
sql = "select * from parking_data_aggregated;"
df = pd.read_sql(sql,con=engine)
df

,index,parcheggio,day,posti_liberi,posti_occupati,posti_totali,lat,lon,hour,dow
0,0,Autostazione,2024-06-07 01:00:00,244.000000,21.000000,265.0,44.504422,11.346514,1.0,4.0
1,1,Autostazione,2024-06-07 02:00:00,244.000000,21.000000,265.0,44.504422,11.346514,2.0,4.0
2,2,Autostazione,2024-06-07 03:00:00,244.000000,21.000000,265.0,44.504422,11.346514,3.0,4.0
3,3,Autostazione,2024-06-07 04:00:00,244.333333,20.666667,265.0,44.504422,11.346514,4.0,4.0
4,4,Autostazione,2024-06-07 05:00:00,242.666667,22.333333,265.0,44.504422,11.346514,5.0,4.0
...,...,...,...,...,...,...,...,...,...,...
7424,7424,VIII Agosto,2024-09-25 05:00:00,470.500000,154.500000,625.0,44.500297,11.345368,5.0,2.0
7425,7425,VIII Agosto,2024-09-25 06:00:00,467.166667,157.833333,625.0,44.500297,11.345368,6.0,2.0
7426,7426,VIII Agosto,2024-09-25 07:00:00,457.833333,167.166667,625.0,44.500297,11.345368,7.0,2.0
7427,7427,VIII Agosto,2024-09-25 08:00:00,408.833333,216.166667,625.0,44.500297,11.345368,8.0,2.0
7428,7428,VIII Agosto,2024-09-25 09:00:00,354.333333,270.666667,625.0,44.500297,11.345368,9.0,2.0

In [33]:
# Importing required module 
import json 
import datetime 

# Define a custom function to serialize datetime objects 
def serialize_datetime(obj): 
    if isinstance(obj, datetime.datetime): 
        return obj.isoformat() 
    raise TypeError("Type not serializable") 
  

    
# Store time in "now" 
now = datetime.datetime.now() 
  
# Serializing time stored in now 
#json.dumps(now)
json_data = json.dumps(now, default=serialize_datetime)
json_data

'"2024-09-25T09:31:11.880516"'

# Predict day

In [34]:
%%writefile "src/predict_parkings.py"
from digitalhub_runtime_python import handler
from statsmodels.tsa.statespace.sarimax import SARIMAX
import pandas as pd
from sqlalchemy import create_engine
import datetime
from pandas.tseries.offsets import DateOffset
import os
import json

# Define a custom function to serialize datetime objects 
def serialize_datetime(obj): 
    if isinstance(obj, datetime.datetime): 
        return obj.isoformat() 
    raise TypeError("Type not serializable") 

    
def to_point(point):
    """
    Convert a decimal number representing minutes to a datetime object.

    Args:
        point (float): The decimal number representing minutes.

    Returns:
        datetime.datetime: A datetime object representing the current date and time with the minutes derived from the input.

    Example:
        >>> to_point(45)
        datetime.datetime(2022, 1, 1, 0, 22, 30)
    """
    today = datetime.datetime.today()
    #return datetime.datetime(today.year, today.month, today.day, int(point * 30 / 60), int(point * 30 % 60))
    dt = datetime.datetime(today.year, today.month, today.day, int(point * 30 / 60), int(point * 30 % 60))
    return json.dumps(dt, default=serialize_datetime)


@handler(outputs=["parking_data_predicted"])
def predict_day(project, parkings_di):
    """
    Predicts the occupancy of parking spaces for the next 48 steps and saves the results in a PostgreSQL database.

    Args:
        parkings_di: The data item containing the parking data.

    Returns:
        None
    """
    # Convert data item to pandas DataFrame
    df = parkings_di.as_df()

    # Create a clean copy of the DataFrame
    df_clean = df.copy()

    # Remove unnecessary columns
    df_clean = df_clean.drop(columns=['lat', 'lon'])

    # Convert 'data' column to datetime
    df_clean.data = df_clean.data.astype('datetime64[ms, UTC]')

    # Calculate the occupancy rate
    df_clean['occupied'] = df_clean.posti_occupati / df_clean.posti_totali

    # Round the 'data' column to the nearest 30 minutes
    df_clean['date_time_slice'] = df_clean.data.dt.round('30min').dt.tz_convert(None)

    # Extract the date from the 'data' column
    df_clean['date'] = df_clean.data.dt.tz_convert(None)
    # df_clean['date'] = df_clean['date'].tz_convert(None)

    # Filter out data from the last 30 days
    df_clean = df_clean[df_clean.date_time_slice >= (datetime.datetime.today() - pd.DateOffset(30))]

    # Filter out data from today
    df_clean = df_clean[df_clean.date <= (datetime.datetime.today() - pd.DateOffset(1))]

    # Remove the 'date' column
    df_clean = df_clean.drop(['date'], axis=1)

    # Ensure that 'posti_occupati' is within the range of [0, posti_totali]
    df_clean.posti_occupati = df_clean.apply(lambda x: max(0, min(x['posti_totali'], x['posti_occupati'])), axis=1)

    # Recalculate the occupancy rate
    df_clean['occupied'] = df_clean.posti_occupati / df_clean.posti_totali

    # Get unique parking locations
    parcheggi = df_clean['parcheggio'].unique()

    # Initialize a list to store the predictions
    res = []

    # Iterate over each parking location
    for parcheggio in parcheggi:
        # Create a copy of the cleaned DataFrame
        cp = df_clean.copy()

        # Filter data for the current parking location
        parc_df = cp[cp['parcheggio'] == parcheggio]

        # Group data by 'date_time_slice' and aggregate metrics
        parc_df = parc_df.groupby('date_time_slice').agg({'posti_occupati':['sum','count'], 'posti_totali':['sum','count']})

        # Calculate the occupancy rate
        parc_df['occupied'] = parc_df.posti_occupati['sum'] / parc_df.posti_totali['sum']

        # Remove unnecessary columns
        parc_df.drop(columns=['posti_occupati', 'posti_totali'], inplace=True)

        # Sort the DataFrame by index
        parc_df.sort_index(inplace=True)

        # Extract the 'occupied' column as a Series
        data = parc_df.reset_index()['occupied']

        # Define the SARIMA model parameters
        my_seasonal_order = (1, 1, 1, 48)

        # Create and fit the SARIMA model
        sarima_model = SARIMAX(data, order=(1, 0, 1), seasonal_order=my_seasonal_order)
        results_SAR = sarima_model.fit(disp=-1)

        # Generate predictions for the next 48 steps
        pred = results_SAR.forecast(steps=48).reset_index()

        # Add the 'parcheggio' column
        pred['parcheggio'] = parcheggio
        res.append(pred)
    
    for pred in res:
        pred['point'] = (pred.index).astype('int')
        pred['datetime'] = pred['point'].apply(to_point)
        pred.drop(['point'], axis=1, inplace=True)
    
    all = pd.concat(res, ignore_index=True)[['predicted_mean', 'parcheggio', 'datetime']]

    USERNAME = os.getenv("POSTGRES_USER")
    PASSWORD = os.getenv("POSTGRES_PASSWORD")
    engine = create_engine('postgresql+psycopg2://'+USERNAME+':'+PASSWORD+'@database-postgres-cluster/digitalhub')
    with engine.connect() as connection: 
        try: connection.execute("DELETE FROM parkings_prediction")
        except: pass

    all.to_sql('parkings_prediction', engine, if_exists="append")

    old_pd = all
    try: 
        dat_old = project.get_dataitem('parking_prediction_sarima_model')
        old_pd = pd.concat([dat_old.as_df(), all], ignore_index=True)
    except: pass
    # project.log_dataitem(name='parking_prediction_sarima_model', data=old_pd, kind="table")
    return all

Writing src/predict_parkings.py

In [35]:
func = proj.new_function(name="predict-day",
                         kind="python",
                         python_version="PYTHON3_9",
                         source={"source": "src/predict_parkings.py", "handler": "predict_day"})

In [36]:
data_item_download = proj.get_dataitem("dataset").key
run_parkings = func.run(action="job",inputs={"parkings_di":data_item_download},outputs={"parking_prediction_sarima_model":"parking_prediction_sarima_model"})